@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Javascript Logger Here</h1>
    <button id="justAClickBtn" class="btn btn-block btn-info">Just a Click Button</button>
    <button id="ApiCallBtn" class="btn btn-block btn-success">Api Call Button</button>
    <button id="FailedApiCallBtn" class="btn btn-block btn-danger">Failed Api Call Button</button>
</div>